body{
    margin: 0;
    color:  black;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/*container*/
.container{
    width: 100%;
    max-width: 1245px !important;
    margin: 0 auto;
    padding: 0 15px;

}
/*Header*/
.header{
    background: url("../img/header/bg.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.header__inner{
    text-align: center;
    padding-top: 200px;
    align-items: center;
}
.header__title{
    font-size: 48px;
    color: white;
    font-family: 'Exo2', sans-serif;

}
.header__subtitle{
    margin-top: 50px;
    color: white;
    font-size: 24px;
}
.header__item{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 33.3333%;

}
.header__content{
    border: 2px solid white;
    margin-right: 66px;


}
.header__num{
    font-family: 'Exo2' ,sans-serif;
    font-size: 48px;
    color: white;
}
.header__text{
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    color: white;
}
.header__box{
    border: 2px solid white;
    width: 250px;
    height: 160px;
}
.header__img{
    position: absolute;
    top: -14px;
    left: 108px;

}
/*Nav
-------------------------------*/
.nav{
    height: 78px;
    border-bottom: 2px solid #adadad;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color .2s linear;
    padding-right: 35px;

}
.nav a:hover{
    color: #f6ae48;
}
/*Studio
-----------------------------*/
.studio{
    margin-top: 130px;
    background: url("../img/studio/bg.jpg");
    height: 248px;
}
.studio__st{
    font-size: 48px;
    font-weight: 800;
    padding-top: 85px;
}
.studio__text{
    font-size: 18px;
    padding-top: 70px;
}
/*Options
----------------------------*/
.option{
    margin-top: 150px;

}
.option__inner{
    padding: 10px 15px;
}
.option__title{
    font-size: 20px;
    font-weight:800;
    margin-bottom: 5px;
    margin-top: 5px;
}
.option__text{
    font-size: 15px;
}
.option__price{
    border: 2px solid white;
    opacity: 0;
    color: white;
    width: 130px;
    height: 35px;
    text-align: center;
    margin-top: 20px;
    padding-top: 1px;

}
.option__inner:hover{
    background-color: #f6ae48;
    transition: all .2s linear;

}
.option__inner:hover,
.option__price{
    opacity: 1;
    transition: all .2s linear;
}
.option__price:hover{
    background-color: white;
    color: #f6ae48;
    transition: all .2s linear;
}
.option__inner:hover,
option__text,
ption__title{
    color: white;
    transition: color .2s linear;
}
.option__icon{
    color: white;
    margin-top: 24px;
}
.option__div{
    justify-content: space-between;
}
/*Kredo*/
.kredo{
    margin-top: 250px;
    height: 570px;
    background: #787a99 url("../img/kredo/bg.jpg") no-repeat center;
    background-size: cover;

}
.kredo__title{
    font-family: 'Exo2',sans-serif;
    font-size: 50px;
    color: white;
    padding-top: 130px;
}
.kredo__text{
    color: white;
    margin-top: 70px;
    font-size: 24px;
}
.kredo__img{
    position: absolute;
    top: 522px;
    z-index: 1;
}
.kredo__txt{
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    top: 23%;
    left: 26%;
    color: white;
    z-index: 2;
}
/*Prices
-----------------------------------*/
.prices{
    margin-top: 200px;
}
.prices__title span{
    font-size: 0;
}
.prices__img{
    position: absolute;
    z-index: 5;

}
.prices__content{
    position: absolute;
    z-index: 6;
    top: 80px;
    left: 10%;
}
.prices__title{
    color: white;
    font-size: 50px;
    line-height: 0.9;
    font-weight: 600;
}


.prices__title:after{
    margin-top: 20px;
    content: '';
    height: 1px;
    width: 260px;
    background-color: white;
    display: block;
}


.price__price{
    color: white;
    font-size: 24px;
    border: 3px solid #00b9e7;
    width: 200px;
    height: 55px;
    margin-top: 50px;
}
.price__price2{
    color: white;
    font-size: 24px;
    border: 3px solid #ffcb00;
    width: 200px;
    height: 55px;
    margin-top: 50px;
}
.price__price3{
    color: white;
    font-size: 24px;
    border: 3px solid #66bf0d;
    width: 200px;
    height: 55px;
    margin-top: 50px;
}

.price__icon{
    color: white;
    margin-top: 47px;
    font-size: 40px;
    margin-left: 33px;
}
.price__icon2{
    color: white;
    margin-top: 47px;
    font-size: 40px;
    margin-left: 33px;
}
.price__icon3{
    color: white;
    margin-top: 47px;
    font-size: 40px;
    margin-left: 33px;
}
.position-relative:hover
.price__icon{
    color: #00b9e7;
    transition: color .2s linear;
}
.position-relative:hover
.price__icon2{
    color: #ffcb00;
    transition: color .2s linear;
}
.position-relative:hover
.price__icon3{
    color: #66bf0d;
    transition: color .2s linear;
}

/*first
------------------------------------*/
.first{
    margin-top: 450px;
}
.first__text1{
    font-size: 80px;
    font-weight: 800;
    color: #dedede;
}
.first__text2{
    font-size: 34px;
    line-height: 2;
    color: black;
    font-weight: 800;
    position: absolute;
    top: 25%;
    left: 10%;
}
.first__text3{
    font-size: 24px;
    line-height: 2;
}
.first__img{
    margin-left: 200px;
    margin-bottom: 50px;
}
/*Our__title
-------------------------*/
.our_project{

}
.bg{
    background-color: #303263;
}
.our_text1{
    font-size: 96px;
    font-weight: 800;
    color: #8a8ba1;
}
.our_text2{
    font-size: 34px;
    line-height: 2;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 28%;
    left: 41%;
}
.our__img{
    width:100%;
    height: 100%;
}
.btn-roma{
    font-weight: 800!important;
    background-color: #6a6b8e!important;
    color: white!important;
    padding: 10px 20px!important;
    margin-top: 25px ;
    margin-bottom: 25px;

}
/*Adaptive
------------------------------------------*/
.adaptive{
    margin-top: 150px;
}

.adaptive__text1{
    font-size: 77px;
    font-weight: 800;
    color: #dedede;
}
.adaptive__text2{
    font-size: 36px;
    font-weight: 800;
    color: black;
    position: absolute;
    top: 28%;
    left: 6%;
}
.adaptive__text3{
    font-size: 24px;
    line-height: 2;
    margin-left: 40px;
}
.adaptive__img{
    position: absolute;
    top: 0;
    left: 75%;
}
/*trade
---------------------------------*/
.trade{
    margin-top: 170px;
    background: url("../img/trade/bg.jpg")
    no-repeat center;
    height: 680px;
    background-size: cover;
}
.trade__title{
    color: white;
    font-size: 48px;
    font-weight: 600;
    padding: 60px;

}
.trade__text{
    padding-left: 25px;
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.trade__text2{
    font-size: 18px;
    line-height: 1.8;
    color: white;
    padding-left: 170px;

}
.trade__content{
    display: flex;
    justify-content: center;
}
.trade__img{
    position: absolute;
}
.btn-roma2{
    padding: 10px 15px!important;
    color: white!important;
    background-color: #f6ae48!important;
    font-weight: 800!important;
    font-size: 20px!important;
    border-radius: 15px!important; ;
}