body{
    margin: 0;
    color:  black;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
/*container*/
.container{
    width: 100%;
    max-width: 1245px !important;
    margin: 0 auto;
    padding: 0 15px;

}
/*Header*/
.header{
    background: url("../img/header/bg.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.header__inner{
    text-align: center;
    padding-top: 200px;
    align-items: center;
}
.header__title{
    font-size: 48px;
    color: white;
    font-family: 'Exo2', sans-serif;

}
.header__subtitle{
    margin-top: 50px;
    color: white;
    font-size: 24px;
}
.header__item{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 33.3333%;

}
.header__content{
    border: 2px solid white;
    margin-right: 66px;


}
.header__num{
    font-family: 'Exo2' ,sans-serif;
    font-size: 48px;
    color: white;
}
.header__text{
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    color: white;
}
.header__box{
    border: 2px solid white;
    width: 250px;
    height: 160px;
}
.header__img{
    position: absolute;
    top: -14px;
    left: 108px;

}
/*Nav
-------------------------------*/
.nav{
    height: 78px;
    border-bottom: 2px solid #adadad;
}
.nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color .2s linear;
    padding-right: 35px;

}
.nav a:hover{
    color: #f6ae48;
}
/*Studio
-----------------------------*/
.studio{
    margin-top: 130px;
    background: url("../img/studio/bg.jpg");
    height: 248px;
}
.studio__st{
    font-size: 48px;
    font-weight: 800;
    padding-top: 85px;
}
.studio__text{
    font-size: 18px;
    padding-top: 70px;
}
/*Options
----------------------------*/
.option{
    margin-top: 150px;

}
.option__inner{
    padding: 10px 15px;
}
.option__title{
    font-size: 20px;
    font-weight:800;
    margin-bottom: 5px;
    margin-top: 5px;
}
.option__text{
    font-size: 15px;
}
.option__price{
    border: 2px solid white;
    opacity: 0;
    color: white;
    width: 130px;
    height: 35px;
    text-align: center;
    margin-top: 20px;
    padding-top: 1px;

}
.option__inner:hover{
    background-color: #f6ae48;
    transition: all .2s linear;

}
.option__inner:hover,
.option__price{
    opacity: 1;
    transition: all .2s linear;
}
.option__price:hover{
    background-color: white;
    color: #f6ae48;
    transition: all .2s linear;
}
.option__inner:hover,
option__text,
ption__title{
    color: white;
    transition: color 0ms linear;
}
.option__icon{
    color: white;
    margin-top: 24px;
}
.option__div{
    justify-content: space-between;
}
/*Kredo*/
.kredo{
    margin-top: 250px;
    height: 570px;
    background: #787a99 url("../img/kredo/bg.jpg") no-repeat center;
    background-size: cover;

}
.kredo__title{
    font-family: 'Exo2',sans-serif;
    font-size: 50px;
    color: white;
    padding-top: 130px;
}
.kredo__text{
    color: white;
    margin-top: 70px;
    font-size: 24px;
}
